<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/imgs/logo.png" alt="logo">
        </a>
    </span>
    
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
        </a>
        <a href="">
            <i class="meterial-icons">
                Sobre nós
            </i>
            <a href="">
                <i class="meterial-icons">
                    Como Funciona
                </i>
            </a>
            <a href="">
                <i class="meterial-icons">
                    Nossas Atividades
                </i>
            </a>
            <a href="">
                <i class="meterial-icons">
                    Cursos Fraternos
                </i>
            </a>
        </a>
    </span> 

</mat-toolbar>